<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">RecipeBook</h1>
      <p class="lead text-muted">This is the application with collection of delicious recipes. Here you can add, view or modify recipes.</p>
      <p>
        <!-- Add recipe modal button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Recipe</button>
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let recipe of recipes">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://i.imgur.com/HoDFLEj.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">{{recipe.name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <!-- View recipe modal button -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{recipe.created_at}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

